* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: bisque;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  width: 100%;
  display: grid;
  grid-gap: 1vh;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(2, 500px);
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}